#include "windows.h"

#define Unused 0

100 BITMAP "Resources/NetLogo.bmp"

100 ICON "Resources/Program.Ico"

100 DIALOG 370, 84, 145, 119
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "Thread Priority", 0, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 69, 1, 72, 96
 CONTROL "Okay", 100, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 101, 40, 14
 CONTROL "Cancel", 300, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 101, 40, 14
 CONTROL "About", 200, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 101, 50, 14
 CONTROL "Priority Class", 0, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 1, 63, 63
 CONTROL "Idle", 1001, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 11, 52, 12
 CONTROL "Normal", 1002, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 23, 52, 12
 CONTROL "High", 1003, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 35, 52, 12
 CONTROL "Real Time", 1004, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 47, 52, 12
 CONTROL "Idle", 2001, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 10, 60, 12
 CONTROL "Lowest", 2002, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 22, 60, 12
 CONTROL "Below Normal", 2003, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 34, 60, 12
 CONTROL "Normal", 2004, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 46, 60, 12
 CONTROL "Above Normal", 2005, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 58, 60, 12
 CONTROL "Highest", 2006, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 69, 60, 12
 CONTROL "Real Time", 2007, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 81, 60, 12
 CONTROL "Frame1", 0, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 67, 63, 30
 CONTROL "Priority Boost", 3000, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 76, 56, 12
}

1000 DIALOG 158, 10, 177, 45
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 CONTROL 100, Unused, "static", SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 179, 47
 CONTROL "OK", Unused, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 30, 50, 12
}

1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileDescription", "128Gamma Priority\000"
   VALUE "FileVersion", "1.0 - Not Revised\000\000"
   VALUE "LegalCopyright", "Copyright \251 NetWorkDLS 2001\000\000"
   VALUE "WebSite", "www.NetWorkDLS.com\000"
   VALUE "Notes", "Distributed With 128Gamma.\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }

}
